# Chapter 6 - Organisation Matching

## Step 1 - Data Acquisition

### Companies House Basic Data

In [1]:
import requests
import json
import zipfile
import io
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
# UK Companies House Basic Company Data download page

url="http://download.companieshouse.gov.uk/en_output.html"

In [3]:
# Download snapshots, convert json to dataframe, remove unwanted columns and append to a single dataframe

df_comptotal = pd.DataFrame()
with requests.Session() as req:
        r = req.get(url)
        soup = BeautifulSoup(r.content, 'html.parser')
        snapshots = [f"{url[:38]}{item['href']}" for item in soup.select(
            "a[href*='BasicCompanyData-']")]
        for snapshot in snapshots:    
            response = requests.get(snapshot).content     
            zipsnapshot = zipfile.ZipFile(io.BytesIO(response))
            tempfile = zipsnapshot.extract(zipsnapshot.namelist()[0])
            print(zipsnapshot.namelist()[0])
            df_comp = pd.read_csv(tempfile, dtype='unicode')
            df_comp = df_comp[['RegAddress.PostCode','RegAddress.PostTown','CompanyName']]
            df_comptotal = pd.concat([df_comptotal, df_comp], ignore_index=True)

### Maritime and Coastguard Agency

In [44]:
# Maritime and Coastguard Agency - List of approved recruitment and placement agencies

url = "https://www.gov.uk/government/publications/recruitment-and-placement-agencies-approved-by-the-mca"

In [45]:
# Download the csv file, extract name and drop erroroneous last row with all nulls

with requests.Session() as req:
    r = req.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    targets = [f"{item['href']}" for item in soup.select(
        "a[href$='.csv']")]
    for target in targets:
        response = req.get(target)    
        mdf = pd.read_csv(io.BytesIO(response.content))
        mdf = mdf.dropna(how='all')

### Saving to Local Storage

In [74]:
#df_comptotal.to_csv('basic_raw.csv', index=False)
#cdf = pd.read_csv('basic_raw.csv')

#mdf.to_csv('mdf_raw.csv', index=False)
mdf = pd.read_csv('mdf_raw.csv')

## Step 2 - Data Standardization

### Companies House Basic Data

In [8]:
# Function to remove stopwards from company names

def strip_stopwords(raw_name):    
    company_stopwords = { 'LIMITED', 'LTD', 'SERVICES', 'COMPANY', 'GROUP', 'PROPERTIES', 'CONSULTING', 
        'HOLDINGS', 'UK', 'TRADING', 'LTD.', 'PLC','LLP' }
    return(' '.join([raw_name_part for raw_name_part in raw_name.split() if raw_name_part not in company_stopwords]))

In [85]:
cdf['CompanyName'] = cdf.apply(lambda row: strip_stopwords(row['CompanyName']), axis=1)
cdf = cdf.rename(columns={"RegAddress.PostCode": "Postcode", 'RegAddress.PostTown': 'Location'})

In [86]:
cdf['unique_id'] = cdf.index
cdf = cdf[['Postcode','CompanyName','Location','unique_id']]

### Maritime and Coastguard Agency

In [53]:
# Function to extract postcode using regular expression

import re

def extract_postcode(address):
    pattern = re.compile(r'([A-Z]{1,2}[0-9][A-Z0-9]? [0-9][ABD-HJLNP-UW-Z]{2})')
    postcode = pattern.search(address)
    if(postcode is not None):
         return postcode.group()
    else:
         return None

In [75]:
mdf['Location'] = mdf['LOCATION'].str.upper()
mdf['CompanyName'] = mdf['COMPANY'].str.upper()

In [76]:
mdf['CompanyName'] = mdf.apply(lambda row: strip_stopwords(row['CompanyName']), axis=1)
mdf['Postcode'] = mdf.apply(lambda row: extract_postcode(row['ADDRESS & CONTACT DETAILS']), axis=1)
mdf['Location'] = mdf.apply(lambda row: row['Location'] if row['Location']!='0' else None, axis=1)

In [77]:
mdf = mdf.dropna()
mdf['unique_id'] = mdf.index

In [78]:
mdf = mdf[['Postcode','CompanyName','Location','unique_id']]
len(mdf)

94

### Saving to Local Storage

In [79]:
#cdf.to_csv('basic_clean.csv')
#cdf = pd.read_csv('basic_clean.csv')

mdf.to_csv('mdf_clean.csv', index=False)
mdf = pd.read_csv('mdf_clean.csv')

# Step 3 - Record Blocking and Attribute Comparison

In [87]:
exact = mdf.merge(cdf,left_on=['CompanyName','Location','Postcode'], right_on=['CompanyName','Location','Postcode'],
          suffixes=('_m', '_c'))
exact

,Postcode,CompanyName,Location,unique_id_m,unique_id_c
0,EH7 4HG,ADVANCE GLOBAL RECRUITMENT,EDINBURGH,2,186608
1,PO6 4PR,ADVANCED RESOURCE MANAGERS,PORTSMOUTH,3,189061
2,M3 5FS,AIR RESOURCES,MANCHESTER,4,222539
3,CO4 9RS,ALIS GLOBAL,COLCHESTER,5,265985
4,NN2 6NY,BELINDA KING CREATIVE PRODUCTIONS,NORTHAMPTON,8,594523
5,BH25 5SJ,BESPOKE CREW,NEW MILTON,9,615803
6,EH12 6DE,CARA LEES YACHT CREW,EDINBURGH,11,884835
7,SO15 1ST,CARNIVAL,SOUTHAMPTON,12,898423
8,BR2 9AT,CELOX YACHTING,BROMLEY,14,936580
9,G51 2SE,CLYDE MARINE RECRUITMENT,GLASGOW,16,1062396
10,AB15 4ZT,CREWING (ABERDEEN),ABERDEEN,20,1182848
11,AB11 5NS,DEESIDE CREWING,ABERDEEN,24,1310684
12,BR1 1WA,ERSG,BROMLEY,29,1608162
13,BR1 1WA,ERSG,BROMLEY,29,1608163
14,AB12 3AX,ETPM,ABERDEEN,31,1623923
15,SO14 2AQ,FASTSTREAM RECRUITMENT,SOUTHAMPTON,32,1697670
16,NR30 3NG,GARDLINE MARINE SCIENCES,GREAT YARMOUTH,34,1874278
17,TR3 6BW,GEO-ENVIRONMENTAL RECRUITMENT,TRURO,36,1902158
18,LA14 1HR,JAMES FISHER MARINE,BARROW-IN-FURNESS,44,2452776
19,DA1 5FW,JOBS IN MARITIME,DARTFORD,46,2515829
20,N20 9RT,LUNA ROSSA PRODUCTIONS,LONDON,50,2909536
21,WD25 7GS,MANE CONTRACT,WATFORD,52,2991056
22,CM13 3FR,PG GLOBAL,BRENTWOOD,62,3658199
23,CT12 6SJ,RECREWT,RAMSGATE,65,3926765
24,SO14 3TG,ROBERTSON ETOS,SOUTHAMPTON,66,4026929
25,NR6 6BB,SALTWATER RECRUITMENT,NORWICH,68,4137292
26,TQ12 2DT,SCARLETT ENTERTAINMENT & MANAGEMENT,NEWTON ABBOT,69,4176173
27,TQ12 2DT,SCARLETT ENTERTAINMENT & MANAGEMENT,NEWTON ABBOT,69,4176174
28,WC2H 9JQ,SEVEN SEAS RECRUITMENT,LONDON,73,4228476
29,TR27 4DD,SWATHE (UK),HAYLE,80,4562525
30,G2 7DA,TAYLOR HOPKINSON,GLASGOW,81,4621180
31,OX16 5EG,TECH PROFESSIONALS,BANBURY,84,4634253
32,N20 9RT,THE AGENCY EXCELLENT ENTERTAINMENT,LONDON,85,4668333
33,NR14 7HG,THE ONBOARD CREW,NORWICH,87,4748565
34,WC2H 9JQ,WAYPOINT GLOBAL,LONDON,95,5118639
35,W1S 1QP,WINCH YACHT RECRUITMENT,LONDON,99,5193396
36,WA15 8AB,WORLDWIDE RECRUITMENT SOLUTIONS,ALTRINCHAM,100,5230477

In [88]:
import splink

In [109]:
from splink.duckdb.duckdb_linker import DuckDBLinker
from splink.duckdb import duckdb_comparison_library as cl
settings = {
    "link_type": "link_only",
    "blocking_rules_to_generate_predictions": [
        "l.Postcode = r.Postcode",
        "l.CompanyName = r.CompanyName",
    ],
    "comparisons": [
        cl.exact_match("CompanyName"),
 #       cl.jaro_winkler_at_thresholds("CompanyName",[0.9]),
        cl.exact_match("Location"),
    ],    
    "retain_intermediate_calculation_columns" : True,
    "retain_matching_columns" : True
}
linker = DuckDBLinker([mdf, cdf], settings, input_table_aliases=["mdf", "cdf"])

In [ ]:
# Use 1e7 targets rows to ensure u estimation

linker.estimate_u_using_random_sampling(target_rows=1e6)

----- Estimating u probabilities using random sampling -----

In [ ]:
linker.estimate_parameters_using_expectation_maximisation("l.Postcode = r.Postcode")

In [112]:
df_splink = linker.predict(threshold_match_probability=0.5).as_pandas_dataframe()
len(df_splink)

 -- WARNING --
You have called predict(), but there are some parameter estimates which have neither been estimated or specified in your settings dictionary.  To produce predictions the following untrained trained parameters will use default values.
Comparison: 'CompanyName':
    u values not fully trained

0

In [32]:
df_splink

,match_weight,match_probability,source_dataset_l,source_dataset_r,unique_id_l,unique_id_r,CompanyName_l,CompanyName_r,gamma_CompanyName,bf_CompanyName,Location_l,Location_r,gamma_Location,bf_Location,Postcode_l,Postcode_r,gamma_Postcode,bf_Postcode
0,19.011623,0.999998,cdf,mdf,1062396,16,CLYDE MARINE RECRUITMENT,CLYDE MARINE RECRUITMENT,2,1808.470584,GLASGOW,GLASGOW,1,13.284868,G51 2SE,G51 2SE,1,219966.516804
1,19.011623,0.999998,cdf,mdf,2909536,50,LUNA ROSSA PRODUCTIONS,LUNA ROSSA PRODUCTIONS,2,1808.470584,LONDON,LONDON,1,13.284868,N20 9RT,N20 9RT,1,219966.516804
2,19.011623,0.999998,cdf,mdf,1608162,29,ERSG,ERSG,2,1808.470584,BROMLEY,BROMLEY,1,13.284868,BR1 1WA,BR1 1WA,1,219966.516804
3,19.011623,0.999998,cdf,mdf,1608163,29,ERSG,ERSG,2,1808.470584,BROMLEY,BROMLEY,1,13.284868,BR1 1WA,BR1 1WA,1,219966.516804
4,19.011623,0.999998,cdf,mdf,1623923,31,ETPM,ETPM,2,1808.470584,ABERDEEN,ABERDEEN,1,13.284868,AB12 3AX,AB12 3AX,1,219966.516804
5,15.554310,0.999979,cdf,mdf,2452767,44,JAMES FISHER (ABERDEEN),JAMES FISHER MARINE,1,164.648088,BARROW-IN-FURNESS,BARROW-IN-FURNESS,1,13.284868,LA14 1HR,LA14 1HR,1,219966.516804
6,15.554310,0.999979,cdf,mdf,2452774,44,JAMES FISHER EVERARD,JAMES FISHER MARINE,1,164.648088,BARROW-IN-FURNESS,BARROW-IN-FURNESS,1,13.284868,LA14 1HR,LA14 1HR,1,219966.516804
7,15.554310,0.999979,cdf,mdf,2452775,44,JAMES FISHER,JAMES FISHER MARINE,1,164.648088,BARROW-IN-FURNESS,BARROW-IN-FURNESS,1,13.284868,LA14 1HR,LA14 1HR,1,219966.516804
8,19.011623,0.999998,cdf,mdf,2452776,44,JAMES FISHER MARINE,JAMES FISHER MARINE,2,1808.470584,BARROW-IN-FURNESS,BARROW-IN-FURNESS,1,13.284868,LA14 1HR,LA14 1HR,1,219966.516804
9,15.554310,0.999979,cdf,mdf,2452778,44,JAMES FISHER MFE,JAMES FISHER MARINE,1,164.648088,BARROW-IN-FURNESS,BARROW-IN-FURNESS,1,13.284868,LA14 1HR,LA14 1HR,1,219966.516804
10,15.554310,0.999979,cdf,mdf,2452782,44,JAMES FISHER RUMIC,JAMES FISHER MARINE,1,164.648088,BARROW-IN-FURNESS,BARROW-IN-FURNESS,1,13.284868,LA14 1HR,LA14 1HR,1,219966.516804
11,19.011623,0.999998,cdf,mdf,2991056,52,MANE CONTRACT,MANE CONTRACT,2,1808.470584,WATFORD,WATFORD,1,13.284868,WD25 7GS,WD25 7GS,1,219966.516804
12,15.554310,0.999979,cdf,mdf,3658198,62,PG GLOBAL ENERGY,PG GLOBAL,1,164.648088,BRENTWOOD,BRENTWOOD,1,13.284868,CM13 3FR,CM13 3FR,1,219966.516804
13,19.011623,0.999998,cdf,mdf,3658199,62,PG GLOBAL,PG GLOBAL,2,1808.470584,BRENTWOOD,BRENTWOOD,1,13.284868,CM13 3FR,CM13 3FR,1,219966.516804
14,19.011623,0.999998,cdf,mdf,4748565,87,THE ONBOARD CREW,THE ONBOARD CREW,2,1808.470584,NORWICH,NORWICH,1,13.284868,NR14 7HG,NR14 7HG,1,219966.516804
15,15.554310,0.999979,cdf,mdf,4768131,89,THE SHIP'S PHOTOGRAPHER (SERVICES),THE SHIPS PHOTOGRAPHER,1,164.648088,SOUTHAMPTON,SOUTHAMPTON,1,13.284868,SO14 3LP,SO14 3LP,1,219966.516804
16,19.011623,0.999998,cdf,mdf,594523,8,BELINDA KING CREATIVE PRODUCTIONS,BELINDA KING CREATIVE PRODUCTIONS,2,1808.470584,NORTHAMPTON,NORTHAMPTON,1,13.284868,NN2 6NY,NN2 6NY,1,219966.516804
17,15.554310,0.999979,cdf,mdf,186607,2,ADVANCE GLOBAL RECRUITMENT (HOLDINGS),ADVANCE GLOBAL RECRUITMENT,1,164.648088,EDINBURGH,EDINBURGH,1,13.284868,EH7 4HG,EH7 4HG,1,219966.516804
18,19.011623,0.999998,cdf,mdf,186608,2,ADVANCE GLOBAL RECRUITMENT,ADVANCE GLOBAL RECRUITMENT,2,1808.470584,EDINBURGH,EDINBURGH,1,13.284868,EH7 4HG,EH7 4HG,1,219966.516804
19,15.554310,0.999979,cdf,mdf,186609,2,ADVANCE GLOBAL RECRUITMENT TRAINING,ADVANCE GLOBAL RECRUITMENT,1,164.648088,EDINBURGH,EDINBURGH,1,13.284868,EH7 4HG,EH7 4HG,1,219966.516804
20,15.554310,0.999979,cdf,mdf,189059,3,ADVANCED RESOURCE MANAGERS ENGINEERING,ADVANCED RESOURCE MANAGERS,1,164.648088,PORTSMOUTH,PORTSMOUTH,1,13.284868,PO6 4PR,PO6 4PR,1,219966.516804
21,15.554310,0.999979,cdf,mdf,189060,3,ADVANCED RESOURCE MANAGERS IT,ADVANCED RESOURCE MANAGERS,1,164.648088,PORTSMOUTH,PORTSMOUTH,1,13.284868,PO6 4PR,PO6 4PR,1,219966.516804
22,19.011623,0.999998,cdf,mdf,189061,3,ADVANCED RESOURCE MANAGERS,ADVANCED RESOURCE MANAGERS,2,1808.470584,PORTSMOUTH,PORTSMOUTH,1,13.284868,PO6 4PR,PO6 4PR,1,219966.516804
23,19.011623,0.999998,cdf,mdf,936580,14,CELOX YACHTING,CELOX YACHTING,2,1808.470584,BROMLEY,BROMLEY,1,13.284868,BR2 9AT,BR2 9AT,1,219966.516804
24,19.011623,0.999998,cdf,mdf,1697670,32,FASTSTREAM RECRUITMENT,FASTSTREAM RECRUITMENT,2,1808.470584,SOUTHAMPTON,SOUTHAMPTON,1,13.284868,SO14 2AQ,SO14 2AQ,1,219966.516804
25,15.554310,0.999979,cdf,mdf,3410320,58,NORTHERN MARINE MANNING,"NORTHERN MARINE MANNING SERVICES, LTD,",1,164.648088,CLYDEBANK,CLYDEBANK,1,13.284868,G81 2QR,G81 2QR,1,219966.516804
26,19.011623,0.999998,cdf,mdf,4137292,68,SALTWATER RECRUITMENT,SALTWATER RECRUITMENT,2,1808.470584,NORWICH,NORWICH,1,13.284868,NR6 6BB,NR6 6BB,1,219966.516804
27,19.011623,0.999998,cdf,mdf,4176173,69,SCARLETT ENTERTAINMENT & MANAGEMENT,SCARLETT ENTERTAINMENT & MANAGEMENT,2,1808.470584,NEWTON ABBOT,NEWTON ABBOT,1,13.284868,TQ12 2DT,TQ12 2DT,1,219966.516804
28,19.011623,0.999998,cdf,mdf,4176174,69,SCARLETT ENTERTAINMENT & MANAGEMENT,SCARLETT ENTERTAINMENT & MANAGEMENT,2,1808.470584,NEWTON ABBOT,NEWTON ABBOT,1,13.284868,TQ12 2DT,TQ12 2DT,1,219966.516804
29,19.011623,0.999998,cdf,mdf,884835,11,CARA LEES YACHT CREW,CARA LEES YACHT CREW,2,1808.470584,EDINBURGH,EDINBURGH,1,13.284868,EH12 6DE,EH12 6DE,1,219966.516804
30,19.011623,0.999998,cdf,mdf,898423,12,CARNIVAL,CARNIVAL,2,1808.470584,SOUTHAMPTON,SOUTHAMPTON,1,13.284868,SO15 1ST,SO15 1ST,1,219966.516804
31,15.554310,0.999979,cdf,mdf,898424,12,CARNIVAL PORT,CARNIVAL,1,164.648088,SOUTHAMPTON,SOUTHAMPTON,1,13.284868,SO15 1ST,SO15 1ST,1,219966.516804
32,19.011623,0.999998,cdf,mdf,1874278,34,GARDLINE MARINE SCIENCES,GARDLINE MARINE SCIENCES,2,1808.470584,GREAT YARMOUTH,GREAT YARMOUTH,1,13.284868,NR30 3NG,NR30 3NG,1,219966.516804
33,19.011623,0.999998,cdf,mdf,1902158,36,GEO-ENVIRONMENTAL RECRUITMENT,GEO-ENVIRONMENTAL RECRUITMENT,2,1808.470584,TRURO,TRURO,1,13.284868,TR3 6BW,TR3 6BW,1,219966.516804
34,19.011623,0.999998,cdf,mdf,2515829,46,JOBS IN MARITIME,JOBS IN MARITIME,2,1808.470584,DARTFORD,DARTFORD,1,13.284868,DA1 5FW,DA1 5FW,1,219966.516804
35,19.011623,0.999998,cdf,mdf,4228476,73,SEVEN SEAS RECRUITMENT,SEVEN SEAS RECRUITMENT,2,1808.470584,LONDON,LONDON,1,13.284868,WC2H 9JQ,WC2H 9JQ,1,219966.516804
36,19.011623,0.999998,cdf,mdf,5118639,95,WAYPOINT GLOBAL,WAYPOINT GLOBAL,2,1808.470584,LONDON,LONDON,1,13.284868,WC2H 9JQ,WC2H 9JQ,1,219966.516804
37,19.011623,0.999998,cdf,mdf,615803,9,BESPOKE CREW,BESPOKE CREW,2,1808.470584,NEW MILTON,NEW MILTON,1,13.284868,BH25 5SJ,BH25 5SJ,1,219966.516804
38,19.011623,0.999998,cdf,mdf,1310684,24,DEESIDE CREWING,DEESIDE CREWING,2,1808.470584,ABERDEEN,ABERDEEN,1,13.284868,AB11 5NS,AB11 5NS,1,219966.516804
39,19.011623,0.999998,cdf,mdf,3926765,65,RECREWT,RECREWT,2,1808.470584,RAMSGATE,RAMSGATE,1,13.284868,CT12 6SJ,CT12 6SJ,1,219966.516804
40,19.011623,0.999998,cdf,mdf,4562525,80,SWATHE (UK),SWATHE (UK),2,1808.470584,HAYLE,HAYLE,1,13.284868,TR27 4DD,TR27 4DD,1,219966.516804
41,15.554310,0.999979,cdf,mdf,5158337,97,WH SMITH TRAVEL,WH SMITH RETAIL,1,164.648088,SWINDON,SWINDON,1,13.284868,SN3 3RX,SN3 3RX,1,219966.516804
42,15.554310,0.999979,cdf,mdf,5158339,97,WH SMITH US RETAIL,WH SMITH RETAIL,1,164.648088,SWINDON,SWINDON,1,13.284868,SN3 3RX,SN3 3RX,1,219966.516804
43,19.011623,0.999998,cdf,mdf,5193396,99,WINCH YACHT RECRUITMENT,WINCH YACHT RECRUITMENT,2,1808.470584,LONDON,LONDON,1,13.284868,W1S 1QP,W1S 1QP,1,219966.516804
44,19.011623,0.999998,cdf,mdf,222539,4,AIR RESOURCES,AIR RESOURCES,2,1808.470584,MANCHESTER,MANCHESTER,1,13.284868,M3 5FS,M3 5FS,1,219966.516804
45,19.011623,0.999998,cdf,mdf,265985,5,ALIS GLOBAL,ALIS GLOBAL,2,1808.470584,COLCHESTER,COLCHESTER,1,13.284868,CO4 9RS,CO4 9RS,1,219966.516804
46,15.554310,0.999979,cdf,mdf,1163854,10,CPOWER ENERGY,C POWER ENERGY,1,164.648088,COLCHESTER,COLCHESTER,1,13.284868,CO3 8PH,CO3 8PH,1,219966.516804
47,15.554310,0.999979,cdf,mdf,1182534,18,CREW & CONCIERGE,CREW AND CONCIERGE,1,164.648088,BRISTOL,BRISTOL,1,13.284868,BS31 1TP,BS31 1TP,1,219966.516804
48,19.011623,0.999998,cdf,mdf,1182848,20,CREWING (ABERDEEN),CREWING (ABERDEEN),2,1808.470584,ABERDEEN,ABERDEEN,1,13.284868,AB15 4ZT,AB15 4ZT,1,219966.516804
49,15.554310,0.999979,cdf,mdf,2334408,38,INDIE-PEARL,INDIE PEARL,1,164.648088,LEEDS,LEEDS,1,13.284868,LS11 5QT,LS11 5QT,1,219966.516804
50,19.011623,0.999998,cdf,mdf,4026929,66,ROBERTSON ETOS,ROBERTSON ETOS,2,1808.470584,SOUTHAMPTON,SOUTHAMPTON,1,13.284868,SO14 3TG,SO14 3TG,1,219966.516804
51,19.011623,0.999998,cdf,mdf,4621180,81,TAYLOR HOPKINSON,TAYLOR HOPKINSON,2,1808.470584,GLASGOW,GLASGOW,1,13.284868,G2 7DA,G2 7DA,1,219966.516804
52,19.011623,0.999998,cdf,mdf,4634253,84,TECH PROFESSIONALS,TECH PROFESSIONALS,2,1808.470584,BANBURY,BANBURY,1,13.284868,OX16 5EG,OX16 5EG,1,219966.516804
53,19.011623,0.999998,cdf,mdf,5230477,100,WORLDWIDE RECRUITMENT SOLUTIONS,WORLDWIDE RECRUITMENT SOLUTIONS,2,1808.470584,ALTRINCHAM,ALTRINCHAM,1,13.284868,WA15 8AB,WA15 8AB,1,219966.516804
54,19.011623,0.999998,cdf,mdf,4668333,85,THE AGENCY EXCELLENT ENTERTAINMENT,THE AGENCY EXCELLENT ENTERTAINMENT,2,1808.470584,LONDON,LONDON,1,13.284868,N20 9RT,N20 9RT,1,219966.516804

# Step 4 - Match Classification